@import url('https://fonts.googleapis.com/css?family=Bangers:100,200,300,400,500,600,700');

/*---------------Colours--------------*/

.bg-color-red {
    background-color: #C43232;
}

.bg-color-green {
    background-color: #6CB8AC;
}

.bg-color-yellow {
    background-color: #f7eed4;
}

.bg-color-grey {
    background-color: rgba(0,0,0,.05)
}

.bg-color-lower-footer {
    background-color: #525252;
}

/*----------Special Padding / Margin / Text----------*/

body {
    margin: 0;
    padding: 0;
}



/*---------------Alert Heading---------*/

.alert-container {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    font-family: Bangers, cursive;
    color: #C43232;
    background-color: #E5C66C;
    border-color: #E5C66C;
    padding: 5px 20px;
    margin-bottom: 0;
    border: 2px solid transparent;
    border-radius: 0;
}

.site-wide-alert a {
    border: 0;
    padding: 1px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #C43232;
    border-color: #C43232;
    color: #E5C66C;
    height: 22px;
    border-radius: 5%;
}

/*------------Navbar----------------*/

.navbar {

    margin-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #0d0d0d; /*Almost black*/
    border: 0;

}

.navbar-default .navbar-collapse {

    border-color: transparent;

}

.navbar-default .navbar-toggle {

    border: 0;

}


.navbar-default .navbar-toggle:hover {

    background-color: transparent;

}


.navbar-default .navbar-toggle .icon-bar {

    background-color: #C43232;

}

.nav ul {
    list-style: none; 
    background-color: #C43232;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    font-size: 1.5em;
    line-height: 35px;
    height: 35px;
    display: inline-block;
    margin-left: 4.5%;
}

.nav a {
    text-decoration: none;
    color: #f7eed4;
    display: block;
}

.navbar-collapse ul li a:hover {
    background-color: #C43232;
    color: #C43232;
}

/*-------------Images------*/

.group-image-container {
    margin: 0;
    padding-top: 102px;
}

.group-image-column {
    padding: 0;
    width: 100%;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}





/*---------------Heading--------------*/


/*-------------Containers-------------*/
/* To include tailoring for Home / Music / HeyHey! / Events & Tickets */

.container-wrapper-almost-black {
    background-color: #0d0d0d; /*Almost Black*/
    color: #cccccc; /*Light Grey*/
}



.upcoming-tour-dates-container {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Bangers, cursive;
    font-size: 25px;
    color: #f7eed4;
}

.hot-news-headline-container {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Bangers, cursive;
    font-size: 25px;
    color: #f7eed4;
}

.50-years-container {
    
} 
    

/*-----------Buy Tickets--------------*/

.buy-tickets {
    font-family: Bangers, cursive;
    font-weight: 200;
    font-size: 20px;
    color: #C43232
}


/*------------Music Timeline----------*/


/*------------Band Carousel-----------*/


/*---------------Footer Higher---------------*/
/* To include styling for social media fonts > font awesome */ 

.bg-color-social-container {
    background-color: #6CB8AC;
    min-height: 20px;
    margin: 0;
    padding-top: 10px 
}


/*---------------Footer Lower---------------*/

.lower-footer-style {
    color: #fafafa; /*off-white*/
    min-height: 20px;
    font-family: Oswald, sans-serif;
    font-size: smaller;
    text-align: center;
    margin: 0;
    padding-top: 5px 
}

/*---------------Buttons--------------*/

.btn-cta {
    
}

.btn-link {
    font-weight: bold;
    border-radius: 17px;
    width: 120px; 
    color: #f7eed4;
    background-color: rgba(196,50,50,0.8);
    border-color: rgba(196,50,50,0.8);
}

.btn-link:hover {
    background-color: #C43232; /*slightly darker colour for contrast on button*/
    border-color: #C43232;
    color: #fafafa;
    text-decoration: none;
}

/*---------------Hover.CSS------------*/


