@import url('https://fonts.googleapis.com/css?family=Bangers');

/*---------------Colours--------------*/

.bg-color-red {
    background-color: #C43232;
}

.bg-color-green {
    background-color: #6CB8AC;
}

.bg-color-yellow {
    background-color: #E5C66C;
}

/*----------Special Padding / Margin / Text----------*/


/*---------------Alert Heading---------*/


/*------------Navbar----------------*/


body {
    margin: 0;
    padding: 0;
    font-family: Bangers, cursive;
}

nav ul {
    list-style: none; 
    background-color: #C43232;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}

nav a {
    text-decoration: none;
    color: #E5C66C;
    display: block;
}

nav a:hover {
    background-color: #E5C66C;
    color: #C43232;
}

/*-------------Band Member Image------*/


/*---------------Heading--------------*/


/*-------------Containers-------------*/
/* To include tailoring for Home / Music / Hey Hey!/ Events & Tickets */



/*------------Music Timeline----------*/


/*------------Band Carousel-----------*/


/*---------------Footer---------------*/
/* To include styling for social media fonts > font awesome */ 


/*---------------Buttons--------------*/


/*---------------Hover.CSS------------*/


