@import url('https://fonts.googleapis.com/css?family=Bangers:100,200,300,400,500,600,700');

/*---------------Colours--------------*/

.bg-color-red {
    background-color: #C43232;
}

.bg-color-green {
    background-color: #6CB8AC;
}

.bg-color-yellow {
    background-color: #E5C66C;
}

/*----------Special Padding / Margin / Text----------*/

body {
    margin: 0;
    padding: 0;
    font-family: Bangers, cursive;
    font-weight: 200;
}



/*---------------Alert Heading---------*/

.alert-container {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {

    color: #C43232;
    background-color: #E5C66C;
    border-color: #E5C66C;
    padding: 5px 20px;
    margin-bottom: 0;
    border: 2px solid transparent;
    border-radius: 0;
}

.site-wide-alert a {
    border: 0;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #C43232;
    color: #E5C66C;
    height: 22px;
    border-radius: 5%;
}

/*------------Navbar----------------*/

.navbar {

    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.05);
    border: 0;

}

.navbar-default .navbar-collapse {

    border-color: transparent;

}

.navbar-default .navbar-toggle {

    border: 0;

}


.navbar-default .navbar-toggle:hover {

    background-color: transparent;

}


.navbar-default .navbar-toggle .icon-bar {

    background-color: #C43232;

}

.nav ul {
    list-style: none; 
    background-color: #C43232;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    font-size: 1.5em;
    line-height: 35px;
    height: 35px;
    display: inline-block;
    margin-left: 4.5%;
}

.nav a {
    text-decoration: none;
    color: #E5C66C;
    display: block;
}

.nav a:hover {
    background-color: #E5C66C;
    color: #C43232;
}

/*-------------Band Member Image------*/


/*---------------Heading--------------*/


/*-------------Containers-------------*/
/* To include tailoring for Home / Music / HeyHey!/ Events & Tickets */






/*------------Music Timeline----------*/


/*------------Band Carousel-----------*/


/*---------------Footer---------------*/
/* To include styling for social media fonts > font awesome */ 


/*---------------Buttons--------------*/

.btn-cta {
    
}

.btn-link {
    font-weight: bold;
    border-radius: 17px;
    width: 120px; 
    color: #ffffff;
    background-color: rgba(196,50,50,0.8);
    border-color: rgba(196,50,50,0.8);
}

.btn-link:hover {
    background-color: #C43232; /*slightly darker colour for contrast on button*/
    border-color: #C43232;
    color: #ffffff;
    text-decoration: none;
}

/*---------------Hover.CSS------------*/


